<div class="body">
  <h1>Welcome to Bank app</h1>
  <h2>Employee portal</h2>

  <nav>
    <a href="/employee/open-account">Open new account</a>
    <a href="/employee/close-account">Close existing account</a>
    <a href="/employee/view-account">View accounts</a>
    <a href="/employee/add-customer">Add customer</a>
    <a href="/employee/view-customer">View customers</a>
  </nav>

  <footer>
    <button id="logout">
      <span class="icon exit_to_app"></span>
      <span>Logout</span>
    </button>
  </footer>
</div>