<div class="body">
  <h1>Welcome to Bank app</h1>
  <h2>Employee portal</h2>

  <nav>
    <a href="/employee/add-account">Open new account</a>
    <a href="/employee/close-account">Close existing account</a>
    <a href="/employee/view-account">View accounts</a>
    <a href="/employee/add-customer">Add customer</a>
    <a href="/employee/view-customers">View customers</a>
  </nav>
</div>