<div class="body">
  <div class="form">
   <table>
<tr><td colspan=7>********Transaction Details********</td></tr>

<tr><td>Trans. ID</td> <td>Date</td> <td>From Account</td> <td>A/c Type</td> <td>To Account</td><td>purpose</td><td>Amount</td></tr>

<tr><td>#ACA123</td> <td>5-1-2020</td><td>100258963</td> <td>Saving</td> <td>100236476</td> <td>water</td><td>500</td></tr>


<tr><td>#BCA153</td>  <td>6-6-2020</td> <td>100258963</td><td>Current</td> <td>100236479</td> <td>loan_payment</td><td>5000</td></tr>

<tr><td>#AEA123</td>  <td>5-1-2019</td><td>100258963</td> <td>Current</td> <td>100236479</td> <td> fees</td><td>2000</td></tr>

<tr><td>#ABA188</td>  <td>5-5-2018</td><td>100258963</td> <td>Saving</td> <td>100236476</td> <td>tution fee</td><td>1000</td></tr>


</table>