<div class="body">
  <div class="form">
  
  <label type="text">
   <input type="text" id="acn1" placeholder=" From Account Number">
    </label>
   <label type="text">
   <input type="text" id="acn2" placeholder=" To Account Number">
    </label>
   <label type="text">
   <input type="text" id="amt" placeholder="Amount">
     </label>
     <button>submit</button>
      </div>
      </div>
