<div class="body">
  <div class="form">
   <label type="text">
      <input type="text" id="name" placeholder=" Enter Your Name">
    </label>
   <label type="text">
      <input type="text" id="mb" placeholder="Enter Your Mobile Number">
     </label>
   <label type="text">
       <input type="text" id="acn2" placeholder=" Enter Your Email">
    </label>
   <label type="text">
   
       <input type="text"  placeholder=" Account Type" list="account">
    </label>
   <label type="text">
     <datalist id="account" >
       <option>Saving</option>
       <option>Current</option>
        </datalist>
    </label>
     <button> submit</button>
      </div>
      </div>
