<div class="body">
  <div class="form">
  <table>
<tr><td colspan=6>********Customer Details********</td></tr>

<tr><td>Account No.</td> <td>Name</td> <td>DOB</td> <td>A/c Type</td> <td>Mobile Number</td><td>Email</td></tr>

<tr><td>100258963</td> <td>Robert Schwartz</td> <td>5-1-2020</td> <td>Saving</td> <td>9874563201</td><td>rob23@gmail.com</td></tr>

<tr><td>100236476</td> <td>John Smith</td> <td>6-6-2020</td> <td>Current</td> <td>9178654203</td><td>Johnsmith1@gmail.com</td></tr>

<tr><td>100236479</td> <td>Anna Smith </td> <td>5-1-2019</td> <td>Current</td> <td> 9098746320</td><td>annasmith23@gmail.com</td></tr>

<tr><td>124896556</td> <td>Robert Brown</td> <td>5-5-2018</td> <td>Saving</td> <td>9187462300</td><td>bobbrown432@yahoo.com</td></tr>

<tr><td>201478965</td> <td>Roger Bacon</td> <td>3-3-2019</td> <td>Saving</td> <td>7079654325</td><td>rogerbacon12@yahoo.com</td></tr>

<tr><td>201456328</td> <td>Ajit Kumar</td> <td>3-1-2017</td> <td>Current</td> <td>7789654130</td><td>ajit@foxdebug.com</td></tr>

</table>
</div>
</div>