<div class="body">
  <div class="form">
  
  Name <input type="text" id="name" placeholder="name">
  DOB <input type="text" id="dob" placeholder="Date of birth">
  Account Type<input type="text" placeholder="account" list="accout">
      <datalist id="account">
     <option>Saving</option>
      <option>Current</option>
 Email <input type="text" id="email" placeholder="Email">
 Mobile no<input type="text" id="mobile" placeholder="Enter  number">
 Password <input type="text" id="password" placeholder="Enter password">
 Name <input type="button" id="b1" value="submit">
 
  </div>
</div>