<div class="body">
  <div class="form">
  <label type="text">
  <input type="text" id="acn" placeholder="Account Number">
  </label>
  <label type="text">
   <input type="text" id="name" placeholder="Name">
   </label>
   <label type="text">
  <input type="text" id="dob" placeholder="Date of Birth">
  </label>
  <label type="text">
  <input type="text" placeholder="Account Type" list="accout">
      <datalist id="account">
     <option>Saving</option>
      <option>Current</option>
      </datalist>
      </label>
      <label type="text">
 <input type="text" id="email" placeholder="Email">
 </label>
 <label type="text">
 <input type="text" id="mobile" placeholder="Enter  Number">
 </label>
 <label type="text">
 <input type="password" id="password" placeholder="Enter password">
 </label>
  <button> Add customer</button>
 
  </div>
</div>